<%-include('../partials/header') %>
<div class="container">
<header class="jumbotron" style="background:url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_1280.jpg'); border-radius: 2px; border-color: snow; border-radius: 10px; box-shadow: 2px 2px gray;">
  <div class="container">
    <h1 style="color:white;" class="text">Welcome to CAMPING-VISITORS</h1>
    <p style="color:Crimson;"><b><marquee>View some handpicked camp grounds all around the worlds</marquee></b></p>
    <center>
    <p style="color: gold; font-size: 40px;">
        <%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(new Date()) %>
    </p>
  </center>
    <p>
    <button class="btn btn-lg" style="background-color:Aqua;"><a href="/campgrounds/new">Add new Camp Visiting Places</a></button>
    </p>
  </div>
</header>
  <div class="row text-center"  style="display:flex; flex-wrap: wrap;">

    <% campgrounds.forEach((campground)=>{ %>
        <div class="col-md-4 col-sm-4" style="margin-top:5px; margin-bottom: 5px;">
          <div class="thumbnail" style="border:1px black; margin: 10px; box-shadow: 1px 2px gray; background-color: blanchedalmond; padding: 10px; border-radius: 10px; justify-content: space-around;" onmouseover="this.style.backgroundColor='skyblue'" onmouseout="this.style.backgroundColor='blanchedalmond'">
        <img src="<%= campground.image %>" style="width: 200px;height: 200px;box-shadow: 2px 2px gray;margin-top: 10px;border-radius: 5px;">
        <div class="caption">
          <h4 style="text-transform: uppercase; color: black;" onmouseover="this.style.color='red'" onmouseout="this.style.color='black'"><%= campground.name %></h4>
        </div>
        <p style="margin-bottom: 20px;">
          <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>" style="margin-bottom: 20px;">More Info</a>
        </p>
        </div>
        </div>
    <% }) %>
  </div>

  </div>
    <%- include('../partials/footer') %>
