<%- include ('../partials/header') %>
<div class="row" style="background: url('https://www.royalcaribbeanblog.com/sites/default/files/fb/Zoom_Background%2012%20-%20Beach%20Sunset.jpg');">
  <div class="col-md-4">
      <h1><%=user.username + " "  + user.lastname%></h1>
    <div class="thumbnail" style="background-color: burlywood;">
      <img src="<%= user.avatar %>" alt="user profile image">
      <div class="caption">
        <a href="mailto:<%=user.email%>"><%=user.email%></a>
      </div>
    </div>
    <p style="text-align:center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-md-8">
    <h3 style="font-size:3.5rem;"><%=user.username%>'s campgrounds</h3>
    <ul>
      <%campgrounds.forEach((campground)=>{ %>
        <li><a href="/campgrounds/<%= campground.id%>" style="color:OrangeRed;font-size:2.5rem;font-family: 'Dancing Script', cursive;" ><%=campground.name%></a></li>
      <% }); %>
    </ul>
  </div>
</div>
<%- include ('../partials/footer') %>
